.header-daftar-penyanyi {
    width: 100%;
}

.daftar-penyanyi-title{
    margin-top: 0px;
    margin-bottom: 1%;
    margin-left: 20px;
    color: white;
    font-size: 65px;
}

.daftar-penyanyi-text{
    margin-left: 20px;
}

.wrapper-daftar-penyanyi {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  height: 100vh;
  width: 100%;
  background-color: rgb(17, 17, 17);
  overflow: auto;
  /* margin: 0px; */
  margin-left: 20px;
}

.daftar-penyanyi-block-upper {
    width: 100%;
    flex: 0 0 50px;
    /* margin-top: 5px; */
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: row;
}

.daftar-penyanyi-block-middle {
    width: 100%;
    flex: 1 0 50px;
    /* margin-top: 5px; */
    background-color: rgb(25, 25, 25);
    padding: 0px;
    position: relative;
    min-height: 75px;
    max-height: 75px;
}

.daftar-penyanyi-block-bottomer {
    width: 100%;
    flex: 0 0 50px;
    /* margin-top: 5px; */
    background-color: rgb(17, 17, 17);
}

.daftar-penyanyi-text {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: auto;
}

.daftar-penyanyi-title {
    font-size: 65px;
    margin: 0px;
}

.daftar-penyanyi-button-subs{
    width: 100px;
    height: 30px;
    border-radius: 10%;
    background-color: #1DB954;
    border: none;
    font-weight: bold;
}

.daftar-penyanyi-button-subs:hover{
    cursor: pointer;
    background-color: #21dc63;
}

.daftar-penyanyi-button-list{
    width: 100px;
    height: 30px;
    border-radius: 10%;
    background-color: #1DB954;
    border: none;
    font-weight: bold;
}

.daftar-penyanyi-button-list:hover{
    cursor: pointer;
    background-color: #21dc63;
}

.daftar-penyanyi-button-wait{
    width: 100px;
    height: 30px;
    border-radius: 10%;
    background-color: yellow;
    border: none;
    font-weight: bold;
}

.daftar-penyanyi-button-rej{
    width: 100px;
    height: 30px;
    border-radius: 10%;
    background-color: red;
    border: none;
    font-weight: bold;
}

.daftar-penyanyi-songs-table {
    /* background-color: rgb(38, 38, 38); */
    background-color: white;
    width: 100%;
}

.bg-17-17-17 {
    background-color: rgb(17, 17, 17);
}

.daftar-penyanyi-table-align-right {
    text-align: right;
}